<!DOCTYPE html>
<html lang="fr"></html>
<%- include ('./partials/head.ejs') %>
<body class="bg-gray-100 text-gray-800">
<%- include ('./partials/header.ejs', {title: 'À propos de <a href="/">KazABurger</a>'}) %>
<main class="container mx-auto p-4">
<section class="bg-white p-6 rounded-lg shadow-md">
<h2 class="text-2xl font-semibold mb-4">Qui sommes-nous</h2>
<p class="mb-4">Nous sommes KazABurger, une équipe de passionnés dédiée à fournir les meilleurs burgers possibles. Notre mission est de livrer des produits de haute qualité
qui répondent aux besoins de nos clients.</p>
<h2 class="text-2xl font-semibold mb-4">Nos valeurs</h2>
<ul class="list-disc list-inside mb-4">
<li>Intégrité</li>
<li>Innovation</li>
<li>Satisfaction client</li>
<li>Travail d'équipe</li>
</ul>
<h2 class="text-2xl font-semibold mb-4">Notre histoire</h2>
<p>Fondée en 2025, KazABurger est passée d'une petite startup à une entreprise leader dans le secteur des burgers. Notre parcours a été marqué par une croissance continue et
un engagement envers l'excellence.</p>
</section>
</main>
<%- include ('./partials/footer.ejs') %>
</body>
</html>