<!DOCTYPE html>
<html lang="fr">
<%- include ('../partials/head.ejs') %>
<body>
<div id="root">
<div class="container ">
<%- include ('../partials/header.ejs') %>
<main class="mx-auto p-4 flex flex-col flex-grow justify-start">
<%- body %>
</main>
<%- include ('../partials/footer.ejs') %>
</div>
</div>
</body>
</html>